# 1: Employee Data Analysis

#### Dataset : - employee_data_large.csv

##### Task 1: Read the employee dataset from a CSV file:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 

df=pd.read_csv("employee_data_large.csv")
print(df)

           Employee Department  Salary  Experience
0        Employee_1         IT   83594           9
1        Employee_2         HR  111156          40
2        Employee_3         IT   94136          38
3        Employee_4  Marketing   53853          20
4        Employee_5         IT   52383          26
...             ...        ...     ...         ...
1995  Employee_1996    Finance  117601          23
1996  Employee_1997    Finance   48362           1
1997  Employee_1998  Marketing   82349          32
1998  Employee_1999    Finance   50560          22
1999  Employee_2000         IT  106479          28

[2000 rows x 4 columns]

#### Task 2: Add a new column Bonus where the bonus is 10% of the salary if the employee has more than 5 years of experience, otherwise 5%.

In [5]:
df["Bonus"]=df.apply(lambda x:x["Salary"]*0.10 if x["Experience"]>5 else x["Salary"]*0.05,axis=1)
print(df)

           Employee Department  Salary  Experience    Bonus
0        Employee_1         IT   83594           9   8359.4
1        Employee_2         HR  111156          40  11115.6
2        Employee_3         IT   94136          38   9413.6
3        Employee_4  Marketing   53853          20   5385.3
4        Employee_5         IT   52383          26   5238.3
...             ...        ...     ...         ...      ...
1995  Employee_1996    Finance  117601          23  11760.1
1996  Employee_1997    Finance   48362           1   2418.1
1997  Employee_1998  Marketing   82349          32   8234.9
1998  Employee_1999    Finance   50560          22   5056.0
1999  Employee_2000         IT  106479          28  10647.9

[2000 rows x 5 columns]

#### Task 3: Find the average salary for each department and compare it with the overall company average salary.

In [6]:
depart_avg_Salary=df.groupby("Department")["Salary"].mean()
print(depart_avg_Salary)

Department
Finance       79885.316195
HR            82448.979950
IT            79506.888889
Marketing     79279.730964
Operations    78955.556962
Name: Salary, dtype: float64

In [7]:
avg_salary=df["Salary"].mean()
print(avg_salary)

80013.802

In [8]:
new_df=pd.DataFrame(depart_avg_Salary)
new_df["Difference"]=new_df["Salary"]-avg_salary
print(new_df)

                  Salary   Difference
Department
Finance     79885.316195  -128.485805
HR          82448.979950  2435.177950
IT          79506.888889  -506.913111
Marketing   79279.730964  -734.071036
Operations  78955.556962 -1058.245038

#### Task 4: Identify the employee with the highest salary and the lowest salary in each department.

In [9]:
max_salary_department=df.loc[df.groupby("Department")["Salary"].idxmax()]
print(max_salary_department)

           Employee  Department  Salary  Experience    Bonus
1758  Employee_1759     Finance  119839          14  11983.9
522    Employee_523          HR  119825           9  11982.5
1257  Employee_1258          IT  119870          23  11987.0
298    Employee_299   Marketing  119584          22  11958.4
1140  Employee_1141  Operations  119975          30  11997.5

In [10]:
min_salary_department=df.loc[df.groupby("Department")["Salary"].idxmin()]
print(min_salary_department)

           Employee  Department  Salary  Experience    Bonus
1316  Employee_1317     Finance   40152           1  2007.60
19      Employee_20          HR   40228           4  2011.40
1443  Employee_1444          IT   40009           2  2000.45
53      Employee_54   Marketing   40204          11  4020.40
1562  Employee_1563  Operations   40040          36  4004.00

#### Task 5: Create a new column Salary after Tax assuming a tax deduction of 12% from the Salary, and rank employees based on their post-tax salary.

In [11]:
df["Tax"]=(df["Salary"]-df["Salary"]*0.12)

In [12]:
df["Rank"]=df["Tax"].rank(ascending=False)
print(df.sort_values(by="Rank"))

           Employee  Department  Salary  Experience     Bonus        Tax  \
1140  Employee_1141  Operations  119975          30  11997.50  105578.00
1257  Employee_1258          IT  119870          23  11987.00  105485.60
1758  Employee_1759     Finance  119839          14  11983.90  105458.32
522    Employee_523          HR  119825           9  11982.50  105446.00
1265  Employee_1266  Operations  119741           6  11974.10  105372.08
...             ...         ...     ...         ...       ...        ...
1316  Employee_1317     Finance   40152           1   2007.60   35333.76
1682  Employee_1683          IT   40097           4   2004.85   35285.36
441    Employee_442          IT   40087          26   4008.70   35276.56
1562  Employee_1563  Operations   40040          36   4004.00   35235.20
1443  Employee_1444          IT   40009           2   2000.45   35207.92

        Rank
1140     1.0
1257     2.0
1758     3.0
522      4.0
1265     5.0
...      ...
1316  1996.0
1682  1997.0
441   1998.0
1562  1999.0
1443  2000.0

[2000 rows x 7 columns]

#### Task 6: Sort the employees by experience in descending order and filter the top 3 most experienced employees.

In [13]:
z=df.sort_values(by="Experience",ascending=False)
print(z.head(3))

           Employee  Department  Salary  Experience    Bonus       Tax    Rank
1461  Employee_1462  Operations   61769          40   6176.9  54356.72  1483.0
76      Employee_77     Finance  104095          40  10409.5  91603.60   386.0
1226  Employee_1227          IT   58902          40   5890.2  51833.76  1547.0